body {
  background-image: url('map.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

} 


h1 {

	display: flex; 
	justify-content: center;
} 


.container { 

	display: flex; 
	justify-content: space-evenly; 
	margin-top: 200px; 
	color: blue;
	font-size: 50px;

 } 


 .container2 { 

 	display: flex; 
	justify-content: space-between; 
	color: gray;
	font-size: 15px;

  } 

.boxes {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	color: white;
	

}



.graybox {

	width: 275px;
	height: 120px;
	background-color: lightgray;
	border-top: solid black 1px;
	border-right:  solid black 1px;
	border-left:   solid black 1px;

} 

.colorbox {


	width: 275px;
	height: 115px;
	background-color: pink;
	border-right:  solid black 1px;
	border-left:   solid black 1px;
	border-bottom: solid black 1px;


}



.box1 {

	margin-top: 75px;

}

.box2 {

	margin-top: 140px;

}

 

.box3 {

	margin-top: 75px;

}


.colorbox2 {


	background-color: lightblue;
}


.colorbox3 {

		background-color: turquoise; 

}



img {

	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	
}

.images { 

	display: flex;
	justify-content: space-between;

 }
.image1 { 

	margin-left: 110px;
margin-bottom:  px;
 }
.image2 { 

margin-left: 110px;
margin-bottom:  px;

 }

.image3  {
margin-left: 110px;
margin-bottom:  px;
}

.text {
	margin-top: 15px;
}


.text2 { 

	font-size: 13px;
 }
