.Number1 {
	display: inline;
	float: left;
	color: white;
}

.Number2 {
	display: inline;
	float: right;
	margin-right: 50px;
}


h1 {
	display: inline;
	background-color: black;
	color: white;
	margin-left: 50px;
}

body {
	background-image: url('logo.jpg');
	background-size: cover; 
} 

.Number3 {
	color: blue;
	font-family: fantasy; 
	font-size: 15px;
	text-align: center;
}
h2 {
	font-family: Zapfino;
	text-align: center;
	font-size: 30px;
	background-color: black;
	color: white;


}

.Number4 {
	color: blue;
	font-size: 30px;
	font-family: Zapfino;
}

nav {
	color: blue;
	font-family: fantasy;
	font-size: 19px;
}


img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
} 

img:hover { 

	transform: scale(1.07); 

}




img {
	display: flex;
	justify-content: center;

}

a {
	text-decoration: none;
}
